body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.gap {
  gap: 1rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}

main {
  width: 100%;
  padding: 1rem;
}

#show_messages {
  height: 200px;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  background-color: #f4f1eb;
}

#show_messages p {
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 0.5rem;
  font-size: 12px;
}

.left,
.right {
  clear: both;
  color: #111b21;
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
}

.left {
  float: left;
  background-color: #fff;
  border-top-left-radius: 0;
}

.right {
  float: right;
  background-color: #d9fdd3;
  border-top-right-radius: 0;
}

#form {
  width: 100%;
}

#form > div {
  width: 100%;
  justify-content: space-between;
}

#form > div label,
#form > div button {
  flex-basis: calc(100% / 6.7);
}

input {
  padding: 5px;
  outline: none;
  width: calc(100% / 1.42 - 40px);
}

#form > div button {
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: purple;
  color: #fff;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#form > div button:hover {
  background-color: skyblue;
  color: green;
}

#inputArea {
  width: calc(100% / 1.42 - 40px);
  gap: 0.5rem;
}
